.question {
  position: relative;
  .question-cloud {
    z-index: -2;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 330px;
    bottom: -320px;
    left: 0;
  }
  .wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    > * {
      flex: 0 1 50%;
    }
    &::after {
      content: '';
      position: absolute;
      width: 152px;
      height: 152px;
      background-image: url('../berry.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      object-fit: cover;
      top: 150px;
      right: 390px;
      filter: blur(6.5px);
      transform: rotate(-53.18deg);
      z-index: -2;
    }
    .leaf-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      i:first-child {
        position: absolute;
        width: 190px;
        height: 190px;
        background-image: url('../leaf.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        object-fit: cover;
        top: 150px;
        right: 120.54px;
        filter: blur(13.5px);
        transform: rotate(150deg);
        z-index: -2;
      }
      i {
        position: absolute;
        width: 190px;
        height: 190px;
        background-image: url('../leaf.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        object-fit: cover;
        top: 160px;
        right: 81.16px;
        filter: blur(13.5px);
        transform: rotate(165deg);
        z-index: -2;
      }
      i:last-child {
        position: absolute;
        width: 190px;
        height: 190px;
        background-image: url('../leaf.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        object-fit: cover;
        top: 200px;
        right: 51.39px;
        filter: blur(13.5px);
        transform: rotate(-180deg);
        z-index: -2;
      }
      @media (max-width: 426px) {
        & {
          display: none;
        }
      }
    }
  }
}
.question-background {
}
.question-block {
  * {
    color: #2e363e;
  }
  // .question-block__question-bait
  &__question-bait {
    ul {
      padding: 0px 0px 0px 30px;
      li {
        list-style: disc;
        &::marker {
          color: #5d6afb;
        }
      }
    }
    @media (max-width: 769px) {
      width: 100vw;
      padding: 0px 15px 0px 15px;
    }
    > * {
      margin: 0px 0px 30px 0px;
    }
    > *:last-child {
      margin: 0px 0px 40px 0px;
    }

    .question-bait__berry {
    }
  }

  // .question-block__link-row

  &__link-row {
  }
}
.question-bait {
  // .question-bait__overhead

  &__overhead {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #2e363e;

    display: inline-block;
    border-radius: 5px;
    padding: 10px 18px;
    background: #f2f6fa;

    min-width: 132px;
    min-height: 37px;
  }

  // .question-bait__title

  &__title {
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -1px;
    font-weight: 500;
    max-width: 647px;
  }

  // .question-bait__sup-title

  &__sup-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 143%;

    max-width: 544px;
  }
}
.question-link-row {
  align-items: center;
  gap: 20px;
  // .question-link-row__link

  &__link {
    text-align: center;
    display: inline-block;
    padding: 30px 50px;
    background: #fed84c;
    border-radius: 8px;
    transition: all, background-color, transform 250ms;
    font-size: 18px;
    line-height: 152%;
    color: #2e363e;
    &:hover,
    &:target {
      transform: scale(1.02, 1.02);
      background-color: rgba(254, 215, 76, 0.8274509804);
    }
    &:active {
      transform: scale(0.98, 0.98) translateY(2px);
      background-color: #feab4cba;
    }
  }

  // .question-link-row__text

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;

    max-width: 150px;
  }
  .bait-overhead {
  }
  .bait-title {
  }
  .bait-sup {
  }
  .bait-link-row {
  }
  .bait-link {
  }
  .bait-text {
  }
}
.question-woman {
  position: relative;
  @media (max-width: 769px) {
    gap: 25px;
    display: flex;
    flex-direction: column-reverse;
  }
  .question-woman__name-block {
    @media (max-width: 769px) {
      position: relative;
      top: 0;
    }
    position: absolute;
    top: 544px;
    left: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      font-size: 24px;
      letter-spacing: -0.30000001192092896px;
      max-height: 60px;
      flex-direction: row;
      align-items: center;
      padding: 15px 15px;
      border-radius: 5px;
      background: #2e363e;
      color: #fff;
      gap: 10px;
      text-align: center;
      display: flex;
    }
    p {
      text-align: center;
      border-radius: 5px;
      color: #2e363e;
      background: #f2f6fa;
      padding: 15px 10px;
      height: 52px;
    }
  }
}

@media (max-width: 769px) {
  .question {
    text-align: center;
    &-block__question-bait {
      padding: 0px 25px 0px 25px;
    }
  }
}

@media (max-width: 769px) {
  .wrapper {
    justify-content: center;
  }
  .question-background {
    background-position: right;
  }
  .question {
    margin: 45px 0px 0px 0px;
    .question-block {
      padding: 25px 15px 25px 15px;
      border-radius: 20px;
    }
    .question-bait__title {
      font-size: 27px;
    }
    .question-bait__sup-title {
      font-size: 18px;
    }
    .question-link-row__link {
      font-size: 16px;
      padding: 15px 25px;
    }
    .question-link-row__text {
    }
  }
}
